div.catalog
  div.catalog__img
    img(src="", alt="")
    br
    p.signature Phone Booth
  div.catalog__img
    img(src="", alt="")
    br
    p.signature Focus Room
  div.catalog__img
    img(src="", alt="")
    br
    p.signature Meeting Room
  div.catalog__img
    img(src="", alt="")
    br
    p.signature Open Meeting Room
  