div.catalog
  div.catalog__img
    img(src="/assets/images/Rectangle19.png", alt="")
    
    p.signature Phone Booth
  div.catalog__img
    img(src="/assets/images/Rectangle20.png", alt="")
    
    p.signature Focus Room
  div.catalog__img
    img(src="/assets/images/Rectangle21.png", alt="")
    
    p.signature Meeting Room
  div.catalog__img
    img(src="/assets/images/Rectangle22.png", alt="")
    
    p.signature Open Meeting Room
  