div.choose The world's leading brands choose ROOM.
div.over Over 3,000 and counting.
div.shop
  img(src="/assets/images/23.png", alt="")
  img(src="/assets/images/24.png", alt="")
  img(src="/assets/images/25.png", alt="")
  img(src="/assets/images/26.png", alt="")
  img(src="/assets/images/27.png", alt="")
  img(src="/assets/images/28.png", alt="")
  img(src="/assets/images/29.png", alt="")
  img(src="/assets/images/30.png", alt="")
  img(src="/assets/images/31.png", alt="")
  img(src="/assets/images/32.png", alt="")
  img(src="/assets/images/33.png", alt="")
  img(src="/assets/images/34.png", alt="")
  img(src="/assets/images/35.png", alt="")
  img(src="/assets/images/36.png", alt="")
  img(src="/assets/images/37.png", alt="")
  img(src="/assets/images/38.png", alt="")
  img(src="/assets/images/39.png", alt="")
  img(src="/assets/images/40.png", alt="")
  