div.choose The world's leading brands choose ROOM.
div.over Over 3,000 and counting.
div.shop
  img(src="/assets/images/Rectangle(23).png", alt="")
  img(src="/assets/images/Rectangle(24).png", alt="")
  img(src="/assets/images/Rectangle(25).png", alt="")
  img(src="/assets/images/Rectangle(26).png", alt="")
  img(src="/assets/images/Rectangle(27).png", alt="")
  img(src="/assets/images/Rectangle(28).png", alt="")
  img(src="/assets/images/Rectangle(29).png", alt="")
  img(src="/assets/images/Rectangle(30).png", alt="")
  img(src="/assets/images/Rectangle(31).png", alt="")
  img(src="/assets/images/Rectangle(32).png", alt="")
  img(src="/assets/images/Rectangle(33).png", alt="")
  img(src="/assets/images/Rectangle(34).png", alt="")
  img(src="/assets/images/Rectangle(35).png", alt="")
  img(src="/assets/images/Rectangle(36).png", alt="")
  img(src="/assets/images/Rectangle(37).png", alt="")
  img(src="/assets/images/Rectangle(38).png", alt="")
  img(src="/assets/images/Rectangle(39).png", alt="")
  img(src="/assets/images/Rectangle(40).png", alt="")
  