section.main
  div.container
    div.links
      img(src="/assets/images/51.png", alt="")
    div.mainLink
      ul.links2 
        a.mainLink2 About
        a.mainLink2 Compare 
        a.mainLink2 Reviews
        a.mainLink2 Risk-free trial
        a.mainLink2 Carreers
        a.mainLink2 Press
        a.mainLink2 Podcast
        a.mainLink2 Blog