section.main
  div.container
    div.links
      img(src="/assets/images/51.png", alt="")
    div.mainLink
      ul.links2 
        a.mainLink2 About
        a.mainLink2 Compare 
        a.mainLink2 Reviews
        a.mainLink2 Risk-free trial
        a.mainLink2 Carreers
        a.mainLink2 Press
        a.mainLink2 Podcast
        a.mainLink2 Blog
      ul.links2 
        a.mainLink2 Showrooms
        a.mainLink2 New York 
        a.mainLink2 London
        a.mainLink2 Paris
        a.mainLink2 Copenhagen
        a.mainLink2 Los Angeles
        a.mainLink2 Berlin
        a.mainLink2 Belgium
        a.mainLink2 Virtual Demo
      ul.links2 
        a.mainLink2 Support
        a.mainLink2 FAQ 
        a.mainLink2 Booth Assembly
        a.mainLink2 Delivery
        a.mainLink2 Room Service
        a.mainLink2 Warranty
        a.mainLink2 Terms of Use
        a.mainLink2 Privacy Policy
        a.mainLink2 Copyright
      ul.links2 
        a.mainLink2 Support
        a.mainLink2 599 Broadway, FL 9 New York, NY 10012 
    ul.links6 
        a.mainLink6 Follow us
        a.soz 
          img(src="/assets/images/52.png", alt="") 
        a.soz
           img(src="/assets/images/53.png", alt="")  
        a.soz 
          img(src="/assets/images/54.png", alt="") 
        a.soz
           img(src="/assets/images/55.png", alt="") 
    div.main2
      ul.links7 
        a.mainLink77 Join our mailing list
        a.mainLink7 Be the first to hear everything about ROOM. 
    
