section.main
  div.container
    div.links
      img(src="/assets/images/51.png", alt="")
    div.mainLink
      ul.links2 
        a(href="").mainLink2 About
        a(href="").mainLink2 Compare 
        a(href="").mainLink2 Reviews
        a(href="").mainLink2 Risk-free trial
        a(href="").mainLink2 Carreers
        a(href="").mainLink2 Press
        a(href="").mainLink2 Podcast
        a(href="").mainLink2 Blog
      ul.links2 
        a(href="").mainLink2 Showrooms
        a(href="").mainLink2 New York 
        a(href="").mainLink2 London
        a(href="").mainLink2 Paris
        a(href="").mainLink2 Copenhagen
        a(href="").mainLink2 Los Angeles
        a(href="").mainLink2 Berlin
        a(href="").mainLink2 Belgium
        a(href="").mainLink2 Virtual Demo
      ul.links2 
        a(href="").mainLink2 Support
        a(href="").mainLink2 FAQ 
        a(href="").mainLink2 Booth Assembly
        a(href="").mainLink2 Delivery
        a(href="").mainLink2 Room Service
        a(href="").mainLink2 Warranty
        a(href="").mainLink2 Terms of Use
        a(href="").mainLink2 Privacy Policy
        a(href="").mainLink2 Copyright
      ul.links2 
        a(href="").mainLink2 Support
        a(href="").mainLink2 599 Broadway, FL 9 New York, NY 10012 
    ul.links6 
        a(href="").mainLink6 Follow us
        a(href="").soz 
          img(src="/assets/images/52.png", alt="") 
        a(href="").soz
          img(src="/assets/images/53.png", alt="")  
        a(href="").soz 
          img(src="/assets/images/54.png", alt="") 
        a(href="").soz
          img(src="/assets/images/55.png", alt="") 
    div.main2
      ul.main2 
        a(href="").mainLink77 Join our mailing list
        a(href="").mainLink7 Be the first to hear everything about ROOM.
      form(method="post" action="#") 
        div.enter 
          input(placeholder="" type="text" name="adress"  )
      div.post
        select.header__text(name='”country”' size='”1”' style='width: 43px; border: none; ')
          option(value='')  US
          option(value='')  Belarus 
          option(value='')  Russian
      form(action="handler.php") 
        p.checkbox 
          input(type="checkbox" name="a")
        div.agreement Yes. I would like to receive marketing communications from ROOM about product updates and special offers. Please refer to ROOM’s Privacy Policy for more information about how we process your data (including how to unsubscribe).






      

      
    
