section.main
  div.container
    div.links
      img(src="/assets/images/51.png", alt="")
    div.mainLink
      mixin mainLink2(name)
        a.mainLink2= name
      ul.links2
        +mainLink2('About')
        +mainLink2('Compare ')
        +mainLink2('Reviews')
        +mainLink2('Risk-free trial')
        +mainLink2('Carreers')
        +mainLink2('Press')
        +mainLink2('Podcast')
        +mainLink2('Blog')
      ul.links2 
        +mainLink2('Showrooms')
        +mainLink2('New York ')
        +mainLink2('London')
        +mainLink2('Paris')
        +mainLink2('Copenhagen')
        +mainLink2('Los Angeles')
        +mainLink2('Berlin')
        +mainLink2('Belgium')
        +mainLink2('Virtual Demo')
      ul.links2 
        +mainLink2('Support')
        +mainLink2('FAQ  ')
        +mainLink2('Booth Assembly')
        +mainLink2('Delivery')
        +mainLink2('Room Service')
        +mainLink2('Warranty')
        +mainLink2('Terms of Use')
        +mainLink2('Privacy Policy')
        +mainLink2('Copyright')
      ul.links2 
        +mainLink2('Support')
        +mainLink2('599 Broadway, FL 9 New York, NY 10012 ')
    ul.links6 
        a(href="").mainLink6 Follow us
        a(href="").soz 
          img(src="/assets/images/52.png", alt="") 
        a(href="").soz
          img(src="/assets/images/53.png", alt="")  
        a(href="").soz 
          img(src="/assets/images/54.png", alt="") 
        a(href="").soz
          img(src="/assets/images/55.png", alt="") 
    div.main2
      ul.main7 
        a(href="").mainLink77 Join our mailing list
        a(href="").mainLink7 Be the first to hear everything about ROOM.
      form(method="post" action="#") 
        div.enter 
          input(placeholder="" type="text" name="adress" style='height: 54px; width: 324px; background-color:  #2B2B2B;'  )
      div.post
        select.header__text(name='”country”' size='”1”' style='width: 43px; border: none; ')
          option(value='')  US
          option(value='')  Belarus 
          option(value='')  Russian
      form(action="handler.php" style='display: flex; flex-direction: row; padding-top: 70px;') 
        p.checkbox 
          input(type="checkbox" name="a")
        div.agreement Yes. I would like to receive marketing communications from ROOM about product updates and special offers. Please refer to ROOM’s Privacy Policy for more information about how we process your data (including how to unsubscribe).










