
body 
 header.header 
  div.header__text Contact sales
  div.header__text tel 646-791-3726
  select.header__text(name='”country”' size='”1”' style='width: 43px; border: none; ')
    option(value='')  US
    option(value='')  Belarus 
    option(value='')  Russian
 div.head
  img.head__logo(src='/assets/images/Logo.png' alt='') 
  div.nav
    a.nav__product(href='') products
    a.nav__product(href='') explore
    a.nav__product(href='') shop
    a.nav__loc(href='')
      img(src='/assets/images/Frame2.png' alt='')
    a.nav__show(href='') Showrooms
    a.nav__frame(href='')
      img(src='/assets/images/Frame3.png' alt='')