div.image 
  img(src='/assets/images/hero.png' alt='')
div.text
  div.design Design that inspires a better way to work.
  div.developed We've developed a series of purpose-built rooms that offer companies looking for change an affordable, sustainable, and flexible alternative to fixed construction and traditional office design.