div.reviews 
  img(src="/assets/images/7.png", alt="")
p.take We take a human approach to a business-to-business industry, breaking the boundaries between corporate and personal, and rethinking every step of the user experience along the way.
p.work We make work, work for you.