div.services
  img(src="/assets/images/47.png", alt="")
  div.line
    p.headline We sell direct.
    p.features We make extra room in the budget without compromising quality by selling direct. No middle man, and no additional construction required.

