div.services
  img(src="/assets/images/47.png", alt="")
  div.line
    p.headline We sell direct.
    p.features We make extra room in the budget without compromising quality by selling direct. No middle man, and no additional construction required.
div.services1
  img(src="/assets/images/48.png", alt="")
  div.line
    p.headline We build with purpose.
    p.features We’re not just building another room with four walls, we’re building a more productive workspace. We design with you in mind, looking at every detail as an opportunity to enable a better working environment for everyone.
 
div.services
  img(src="/assets/images/49.png", alt="")
  div.line
    p.headline We sell direct.
    p.features We make extra room in the budget without compromising quality by selling direct. No middle man, and no additional construction required.
  