div.front
  div.day  100 day risk-free trial
  div.icon
    div.free
      img(src="/assets/images/11.png", alt="")
      p.shipping FREE SHIPPING
    div.free
      img(src="/assets/images/12.png", alt="")
      p.shipping PLUG & PLAY
    div.free
      img(src="/assets/images/13.png", alt="")
      p.shipping FREE RETURNS
  div.button
    button.get GET A ROOM