doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0')
  meta(http-equiv='X-UA-Compatible' content='ie=edge')
  title Document
  link(rel='stylesheet' href='./assets/styles/styles.css')
body 
 
    include components/header.pug 
    include components/herosection.pug
    include components/catalog.pug
    include components/content.pug
    include components/slider.pug
    include components/aspects.pug
    include components/reviews.pug
    include components/services.pug
    include components/secondslider.pug
    

