@mixin fontz($f) {
    font-size: $f;
    line-height: $l;
}

.description {
    display: flex;
    justify-content: center;
    max-width: 100%;
    width: 1430px;
    margin: 0 auto;
    padding: 83px 188px 0px 175px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    @include fontz(48px, 56px);
    color: #1A1A1A;
}

.touch {
    margin: 0 auto;
    padding: 24px 1158px 0px 175px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    @include fontz(14px, 12px);
    letter-spacing: 0.75px;
    text-transform: uppercase;
    color: #46856E;
}

.aspects {
    width: 1042px;
    max-width: 100%;
    padding: 91px 0px 0px 0px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
}

.frame {
    padding-right: 47px;
}

.img {
    display: flex;
    justify-content: center;
}

.names {
    padding-top: 26px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    @include fontz(24px, 24px);
    color: #1A1A1A;
}

.caption {
    width: 316px;
    padding-top: 18px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    @include fontz(16px, 24px);
    color: $grey-color;
}