@import "../util/var";
.catalog {
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    justify-content: center;
    margin: 0 auto;
    justify-content: space-between;
    padding: 208px 0px 0px 0px;
}

.catalog__img {
    display: flex;
    flex-direction: column;
    width: 588px;
    margin-bottom: 32px;
}

.signature {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    color: $darkblack-color;
}

@media screen and (min-width: 1024px)and (max-width: 1440px) {
    .catalog__img {
        margin: 0 auto;
    }
}

@media screen and (min-width: 768px)and (max-width: 1024px) {
    .catalog__img {
        margin: 0 auto;
    }
}

@media screen and (min-width: 320px)and (max-width: 768px) {
    .catalog__img {
        margin: 0 auto;
        width: 320px;
    }
    .catalog {
        padding-top: 20px;
    }
}