@import "../util/var";
.catalog {
    display: flex;
    flex-wrap: wrap;
    padding: 208px 90px 0px 100px;
}

.catalog__img {
    width: 610px;
    padding-left: 24px;
    padding-bottom: 69px;
}

.signature {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    color: $darkblack-color;
}