.choose {
    display: flex;
    justify-content: center;
    padding-top: 244px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 48px;
    text-align: center;
    color: $darkblack-color;
}

.over {
    display: flex;
    justify-content: center;
    width: 1440px;
    margin: 0 auto;
    padding-top: 27px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    color: $darkgrey-color;
}

.shop {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1144px;
    margin-top: 125px;
    margin: 0 auto;
    justify-content: space-between;
    & img {
        width: calc(100%/ 6);
    }
}