.container {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    background: #2B2B2B;
    display: flex;
    flex-direction: row;
}

.main {
    margin-top: 79px;
    padding-top: 80px;
    padding-bottom: 20px;
    display: flex;
}

.links {
    display: flex;
    padding: 97px 69px 425px 130px;
}

.mainLink {
    width: 340px;
    height: 450px;
    padding-top: 97px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 0.5px;
    color: $white-color;
}

.links2 {
    padding-bottom: 47px;
    display: flex;
    flex-direction: column;
}

.links6 {
    padding-top: 97px;
    padding-left: 97px;
    display: flex;
    flex-direction: column;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 0.5px;
    color: $white-color;
}

.mainLink66 {
    padding-bottom: 17px;
}

.main2 {
    padding-top: 97px;
    display: flex;
    flex-direction: column;
}

.links7 {
    display: flex;
    flex-direction: column;
}