.body {
    width: 1440px;
    max-width: 100%;
}

.header {
    width: 1440px;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    background-color: #F4F4F4;
}

.header__text {
    margin-right: 25px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 33px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #AAAAAA;
    background-color: #F4F4F4;
}

.head {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.head__logo {
    height: 99px;
    padding: 25px 0px 0px 119px;
}

.nav {
    padding: 43px 10px 0px 366px;
    display: flex;
    flex-direction: row;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #000000;
}

.nav__product {
    padding: 0px 100px 0px 0px;
}

.nav__loc {
    padding: 0px 10px 0px 180px;
}