.body {
    width: 1440px;
    max-width: 100%;
}

.header {
    width: 1440px;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    background-color: #F4F4F4;
}

.header__text {
    margin-right: 25px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 33px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #AAAAAA;
    background-color: #F4F4F4;
}

.head {
    display: flex;
    flex-direction: row;
    align-items: center;
}