@import "../util/var";
.image {
    display: flex;
    justify-content: center;
    padding: 49px 56px 0px 57px;
}

.text {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    padding: 0px 205px 0px 175px;
}

.design {
    width: 355px;
    padding-top: 82px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 58px;
    color: $darkblack-color;
}

.developed {
    width: 538px;
    padding-top: 93px;
    margin-left: 136px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 40px;
    color: $grey-color;
}

@media screen and (min-width: 1024px)and (max-width: 1440px) {
    .image {
        width: 1024px;
        margin: 0 auto;
    }
    .text {
        padding: 0px 100px 0px 15px;
    }
}

@media screen and (min-width: 768px)and (max-width: 1024px) {
    .image {
        width: 768px;
        margin: 0 auto;
    }
    .design {
        width: 250px;
    }
    .developed {
        width: 200px;
    }
}

@media screen and (min-width: 320px)and (max-width: 768px) {
    .image {
        width: 320px;
        margin: 0 auto;
    }
    .text {
        display: flex;
        flex-direction: column;
        padding: 0px 0px 0px 0px;
    }
    .design {
        width: 150px;
        font-size: 25px;
        line-height: 25px;
    }
    .developed {
        width: 150px;
        font-size: 20px;
        margin-left: 0px;
        line-height: 20px;
    }
}