.reviews {
    width: 1340px;
    padding: 237px 50px 0px 50px;
}

.take {
    padding: 240px 283px 0px 275px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 46px;
    line-height: 52px;
    color: $grey-color;
}