@import "../util/mixins";
.reviews {
    margin: 0 auto;
    width: 1440px;
    padding: 237px 50px 0px 50px;
}

.take {
    padding: 240px 0px 0px 0px;
    width: 882px;
    margin: 0 auto;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    @include fontz(46px, 52px, $grey-color);
}

.work {
    padding: 25px 0px 0px 0px;
    width: 880px;
    display: flex;
    justify-content: flex-start;
    margin: 0 auto;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    @include fontz(46px, 52px, $black-color);
}

@media screen and (min-width: 1024px)and (max-width: 1440px) {
    .take {
        width: 800px;
    }
    .work {
        width: 800px;
    }
}

@media screen and (min-width: 768px)and (max-width: 1024px) {
    .take {
        width: 600px;
    }
    .work {
        width: 600px;
    }
}

@media screen and (min-width: 320px)and (max-width: 768px) {
    .reviews {
        padding: 100px 0px 0px 0px;
    }
    .take {
        padding: 15px 0px 0px 0px;
        width: 250px;
        margin: 0 auto;
        font-size: 25px;
        line-height: 25px;
    }
    .work {
        width: 250px;
        font-size: 25px;
        line-height: 25px;
    }
}