.services {
    width: 1200px;
    padding: 135px 0px 0px 120px;
    display: flex;
    flex-direction: row;
}

.line {
    display: flex;
    flex-direction: column;
}

.headline {
    padding-top: 260px;
    padding-left: 90px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 36px;
    color: #1A1A1A;
}

.features {
    padding-top: 20px;
    padding-left: 90px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #AAAAAA;
}

.build {
    padding-top: 260px;
    padding-right: 90px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 36px;
    color: #1A1A1A;
}

.room {
    padding-top: 20px;
    padding-right: 90px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #AAAAAA;
}