.adaptivny-slayder {
    position: relative;
    max-width: 1440px;
    margin: 50px auto;
    padding-top: 239px;
}

.adaptivny-slayder input[name="kadoves"] {
    display: none;
}

.kadoves {
    position: absolute;
    left: 0;
    bottom: -40px;
    text-align: center;
    width: 100%;
}